
    <!-- footer -->
    <footer class="bg-red-700 px-4 text-white py-6">
        <div class="container mx-auto flex flex-col items-center justify-center">
            <nav class="mb-4">
                <ul class="flex flex-col items-center space-y-2 md:space-y-0 md:flex-row md:space-x-4">
                    <li><a href="/about" class="hover:underline">ABOUT</a></li>
                    <li><a href="/terms" class="hover:underline">TERMS OF USE</a></li>
                    <!-- <li><a href="/privacy" class="hover:underline">PRIVACY POLICY</a></li> -->
                    <li><a href="/disclaimer" class="hover:underline">DISCLAIMER</a></li>
                    <li><a href="/contact" class="hover:underline">CONTACT US</a></li>
                </ul>
            </nav>
            <div class="text-center">
                <p>Copyright © - 2024 Elite Credit Card Rewards Points</p>
                <p>Disclaimer: Elite Credit Card Rewards Points does not sell any loans on our own and do not charge any fee from any customers/viewers. We advise customers/viewers to choose from best offers from Banks and its advertisers. We do not guarantee any loans as loan sanction is as per Banks and Nbfcs. We suggest all users to never pay any upfront amount for any loan disbursal and if any person who call you as representative of Elite Credit Card Rewards Points and ask for any amount report the incident immediately.</p>
                <!-- <p>The trademarks and brand logos are owned by the respective Sponsors/ Suppliers/ Retailers and are authorized for their use in India.</p> -->
            </div>
        </div>
    </footer>