<% layout('layouts/boilerplate.ejs') -%> 
<div class="p-4">
    <div class="text-center py-4 text-2xl">
        ABOUT US
    </div>
    

    <p>
        Elite Credit Card Rewards Points is India's premier fin-tech company and has pioneered financial marketplaces in India. It runs customer friendly, neutral, financial marketplaces that leverage proprietary tech to ensure customers discover the right banking solution for their needs.
    </p>
    <br>
    <p>
        Elite Credit Card Rewards Points provides its users with an actionable plan to make the right financial decision to fulfil their wishes.
    </p>
    <p>
        Its offerings span a broad range of product genres such as Personal Loans, Home Loans, Credit Cards, Digital Gold and Savings Accounts.
    </p>

    <p>
        We work with India's top 40 banks and NBFCs.
    </p>

    <p>
        Elite Credit Card Rewards Points is also the first official fintech partner of TransUnion CIBIL (Credit Information Bureau of India), the company that provides your official CIBIL score.
    </p>

    <p>
        Elite Credit Card Rewards Points now has more than 40 million customers and has disbursed more than INR 25,000 Crore worth of credit through its platform.
    </p>
    <br>
    <div class="text-center py-4 text-2xl">
        Our Mission
    </div>
    <p>
        Elite Credit Card Rewards Points's mission is to empower individuals to make informed financial decisions and achieve their financial goals. We do this by providing a platform that allows users to compare financial products and services, get personalized advice, and apply for loans and credit cards. Elite Credit Card Rewards Points's mission is to make financial services more accessible and affordable for everyone. The company believes that everyone deserves the opportunity to achieve their financial goals, and they are committed to providing the tools and resources that people need to make informed financial decisions
    </p>
    
<br>
    <div class="text-center py-4 text-2xl">
        Our Vision
    </div>
    <p>
        Elite Credit Card Rewards Points's vision is to help Indians make responsible financial decisions by providing them with the information and tools they need to make informed choices. Elite Credit Card Rewards Points is doing this by making access to financial products digital and seamless. Elite Credit Card Rewards Points also works towards building tools that help its customers understand their finances better, and these tools further help them with financial planning. For e.g. Elite Credit Card Rewards Points offers free CIBIL score, which helps its customers understand their balance sheet and plan accordingly. Similarly Elite Credit Card Rewards Points has digitized lending stacks of the banks, improving the ease of access to products like loans, mortgages and credit cards.
    </p>
    
</div>
</body>