<% layout('layouts/boilerplate.ejs') -%> 
<div class="p-6">
    <div class="text-2xl text-center py-4">Disclaimer</div>
    <div class="">
        Elite Credit Card Rewards Points does not sell any loans on our own and do not charge any fee from any customers/viewers. We advise customers/viewers to choose from best offers from Banks and its advertisers. We do not guarantee any loans as loan sanction is as per Banks and Nbfcs. We suggest all users to never pay any upfront amount for any loan disbursal and if any person who call you as representative of Elite Credit Card Rewards Points and ask for any amount report the incident immediately via putting us a mail.
    </div>
    <br>
    <br>
    <div class="text-2xl">
        Content Disclaimer
    </div>
    <div>
        The information published at Elite Credit Card Rewards Points is collected from either Banks website or from market research. The information is given for the customers to read more about the product and make an informed decision. The information provided here is collected from sources we believe to be reliable. In order to make available various financing schemes of individual companies/organizations, certain data has been reorganized/restructured/tabulated. A certain set of assumptions have also been made to enable the comparison of schemes. Users are advised to recheck the same with the individual companies/organizations. This site does not take any responsibility for any sudden/uninformed changes in the terms and conditions or structure of any schemes including the interest rate or any other such clause.
    </div>
    <div>
        Thus, the information available on, or through this website or any ads placed on third party websites / sms/ emailers/ any format in any media is/are the information provided by the Banks/NBFCs. This information is intended to provide assistance in the field of banking/non-banking facility being provided by the Banks/NBFCs to the public. The information on financial facility/ies should not be customers/viewers only source of financial information. We strongly recommend you to contact the concerned Bank/NBFC.   
    </div>
    <br>
    <div class="">  
        
    Any information provided by Elite Credit Card Rewards Points on its calculators and website, campaign pages, advertisements, videos, voice, social media content or any message/content (hereby referred to as "marketing materials") is for indicative purposes only and will not amount to any pre-qualification or eligibility  or approval for sanction of any Service. 
    Eligibility for any sanction of any product/service on Elite Credit Card Rewards Points may require additional information and documents which cannot be gathered in this calculator/marketing material. The figures and formulae built into this calculator/marketing material may vary and are subject to changes at any time without notice.

        
    Elite Credit Card Rewards Points does not take the responsibility for the accuracy, validity, consistency of any of the details entered therein. Nothing contained herein shall confer any rights, remedies, obligations or liabilities to user nor provide any remedy, claim, liability, reimbursement, cause of action against Elite Credit Card Rewards Points The use of this information is subject to the terms and conditions governing such products, services and offers as referred herein above and specified by Elite Credit Card Rewards Points from time to time and applicable laws.   

        
    Nothing contained herein shall constitute and /or deem to constitute an offer and/or an invitation to an offer or a legally binding obligation on Elite Credit Card Rewards Points. Any person seeking access to  Elite Credit Card Rewards Points’s loan eligibility calculator and any marketing material/content shall be deemed to have accepted and acknowledged that they are doing so for information purposes only.
    </div>
    <br>
    <br>
    <div class="text-2xl">
        Product Disclaimer :
    </div>
    <div>
 Please remember that any provider of financial services is entitled to register with Wishfin.com. Wishfin.com does not examine whether the advertisers are good, reputable or quality sellers of goods / service. You must satisfy yourself about all relevant aspects of the terms of service prior to availing any product/service availed through Wishfin.com. Wishfin.com has also not negotiated or discussed any terms of engagement with any of the advertisers. This due diligence should be done by you. Purchasing of goods or availing of services from advertisers shall be at your own risk. The advertiser, before advertising with us, should also agree to terms and conditions and privacy policy for the customers and should check all terms and conditions carefully before availing any referral services.

We do not investigate, represent or endorse the accuracy, legality, legitimacy of the service providers who advertise with us. References that we make to any names, marks, products or services of third parties or hypertext links to third party sites or information do not constitute or imply our endorsement, sponsorship or recommendation of the third party, of the quality of any product or service, advice, information or other materials displayed, purchased, or obtained by you as a result of an advertisement or any other information or offer in or in connection with the Media.

<br>
<br>
THE MATERIAL AND THE MEDIA USED TO PROVIDE THE MATERIAL (INCLUDING THE WEBSITE ) ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. DISCLAIMS, TO THE FULLEST EXTENT PERMITTED UNDER LAW, ANY WARRANTIES REGARDING THE SECURITY, RELIABILITY, TIMELINESS, ACCURACY AND PERFORMANCE OF THE MEDIA AND MATERIALS. Elite Credit Card Rewards Points  DOES NOT WARRANT THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE CONTENT IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
<br>
<br>
Elite Credit Card Rewards Points DISCLAIMS ANY AND ALL WARRANTIES TO THE FULLEST EXTENT OF THE LAW, INCLUDING ANY WARRANTIES FOR ANY INFORMATION, GOODS, OR SERVICES, OBTAINED THROUGH, ADVERTISED OR RECEIVED THROUGH ANY LINKS PROVIDED BY OR THROUGH THE MEDIA SOME COUNTRIES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM COUNTRY TO COUNTRY AND JURISDICTION TO JURISDICTION.

We do not help in providing any dsa of the Banks.
    </div>
</div>
</body>