<% layout('layouts/boilerplate.ejs') -%> 
<section class="">
  <div class="w-full lg:w-full p-2 bg-gray-100 rounded-lg shadow-lg flex justify-center items-center banner" id="banner">
      <img id="bannerImage" src="./asset/banner/a.jpg" class="max-w-md w-full h-auto rounded-lg shadow-lg" alt="Banner Image">
  </div>
</section>

<!-- Top Offers Section -->
<section class="container mx-auto px-4 py-6">
  <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Top Offers of the Month</h2>
      <a href="#" class="text-red-500 font-semibold">View More</a>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/top/EAZYCB.jpg" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/top/IndusAJIO25052022.jpg" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/top/IndusFlipkart.jpg" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/top/IndusTata.jpg" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/top/IndusTataCliq25052022.jpg" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/top/SWCB.jpg" alt="Logo 1" class="">
      </div>
  </div>
</section>

<!-- Cashback Offers Section -->
<section class="container mx-auto px-4 py-6 bg-gray-50">
  <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Cashback Offers</h2>
      <a href="#" class="text-red-500 font-semibold">View More</a>
  </div>
  <div class="bg-white mb-4 p-6 rounded-lg shadow-lg flex justify-between items-center">
      <p class="text-gray-700">The more you shop, the more you earn! Get cashback on spends across top brands and products</p>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/cashbackoffers/SWCB.png" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/cashbackoffers/SWCB121212.png" alt="Logo 1" class="">
      </div>
  </div>
   
</section>

<!-- Exclusive Deals Section -->
<section class="container mx-auto px-4 py-6">
  <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">Exclusive Deals</h2>
      <a href="#" class="text-red-500 font-semibold">View More</a>
  </div>
  <div class="bg-white mb-4 p-6 rounded-lg shadow-lg flex justify-between items-center">
      <p class="text-gray-700">See them here first - trending deals from the hottest brands every month at your fingertips.</p>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/exclusivedeals/deal1.png" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/exclusivedeals/deal2.png" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/exclusivedeals/deal3.png" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/exclusivedeals/deal4.png" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/exclusivedeals/deal5.png" alt="Logo 1" class="">
      </div>
      <div class="bg-white p-4 rounded-lg shadow-lg text-center">
          <img src="./asset/exclusivedeals/deal6.png" alt="Logo 1" class="">
      </div>
  </div>
</section>

</body>
